body {
    max-width: 1680px;
    background-color: #1f1f1f;
    margin: 45px 80px 180px;
}

.about-me {
    display: flex;
    gap: 20px;
}


.description {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.firstText {
    display: flex;
    align-items: center;
    justify-content: center;

}

.text {
    font-size: 40px;
}