body {
    max-width: 1680px;
    background-color: #1f1f1f;
    margin: 45px 80px 180px;
}

.about-me {
    display: flex;
    gap: 30px;
}


.description {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
}

.firstText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #495867;

}

.text {
    font-size: 20px;
    max-width: 500px;
}

.text p {
    color: #f8f4f9;
}

.personal-projects {
    display: flex;
    margin-top: 50px;
}

.projects {
    display: flex;
    max-width: 1680px;
    width: 100%;
    align-items: center;
}

hr {
    width: 400px;
    background: #f44D00;
    height: 10px;
    border: none;
}

.title {
    font-size: 75px;
    color: #BEA7E5;
}

.personal {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.twoImages {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.education {
    display: flex;
    margin-top: 100px;
}

.university {
    display: flex;
    max-width: 1680px;
    width: 100%;
    align-items: center;
}

.school {
    font-size: 75px;
    color: #BEA7E5;
}

.education hr {
    width: 400px;
    background: #f44D00;
    height: 4px;
    border: none;
    margin-left: 100px;
}

.College {
    margin-top: 100px;
    font-size: 20px;
    max-width: 500px;
}

.College p {
    color: #f8f4f9;
}

.Simon {
    margin-top: 50px;
}

.myday {
    display: flex;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hobbies {
    display: flex;
}

.hobbies hr {
    width: 1000px;
    background: #f44D00;
    height: 4px;
    border: none;
    margin-left: 100px;
}

.stuff {
    font-size: 75px;
    color: #BEA7E5;
}

.bies {
    display: flex;
    max-width: 1680px;
    width: 100%;
    align-items: center;
}

.video {
    font-size: 50px;
    color: #495867;
}

.Videographyimages {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.graph {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.Photo {
    font-size: 50px;
    color: #495867;
    margin-top: 20px;
}
.Photoimages1 {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.imagesPhoto1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.Photoimages2 {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.imagesPhoto2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.Photoimages3 {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.imagesPhoto3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}