html{
    scroll-behavior: smooth;
}
body{
    background-color: #1F1F1F;
    max-width: 1680px;
    margin: 45px 80px 0px;
    align-content: center;
}
body > * {
    max-width: 1680px;
    margin: 0 80px;
}
@media screen and (min-width: 1960px){
    body {
        margin: 45px auto 0px;
    }
}

.main-container{
    max-width: 60%;
    margin: 0 auto;
}
/* navbar */
#navbar {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
}

.logo-main span {
    margin-right: 5px;
}

.logo-main a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
}

.nav-categories {
    display: flex;
    gap: 150px;
}

.nav-categories a {
    text-decoration: none;
    color: #FFFFFF;
}

#red {
    color: #F44D00;
}

.navbar-line {
    height: 1px;
    background-color: white;
}

/*end */
.team-name{
    padding-right: 5px;
    font-size: 20px;
}

.smellow{
    display: flex;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
.red{
    color: #F44D00;
}
.nav-categories{
    display: flex;
    gap: 150px;
}

.navbar-line{
    height: 1px;
    background-color: white;
}

@media screen and (max-width: 1023px){
    .nav-categories{
        gap: 50px;
    }
}

@media screen and (max-width: 700px){
    body{
        margin: 45px 20px 0px;

    }
}
.container{
    margin-left: 25px;
}
.daniella-image{
    height: 530px
}
.introduction{
    display: flex;
    justify-content: space-between;
    margin-top: 107px;
}
.intro-right{

}

h2 {
    -webkit-text-stroke-width:2px;
    color: #BAA8E1;
    /* -webkit-text-stroke-color: #BAA8E1; */
    /* -webkit-text-fill-color: transparent; */
    font-family: 'Baloo 2';
    font-size: 55px;
} 

h1{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    width: 530px;
    line-height: 1px;
    color: white;
}

.little-text{
    display: flex;
    justify-content: space-between;
    width: 132px;
    color: #C6EC4C;
    font-family: Helvetica, sans-serif;
}

.description{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
}
.exclamation{ 
    font-family: 'Baloo 2';
    font-size: 180px;
    color: #F44D00;
    margin: 0;
    line-height: 130px;
    margin-left: 47px;
}

.container-box1{
    font-family: Helvetica, sans-serif;
    padding: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: #1F1F1F 2px solid;
    background-color: white;
    box-shadow: 15px 15px #baa8e1;
}

.black-text{
    color: #1F1F1F;
    font-weight: 700;
}

.about-me{
    display: flex;
    align-items: center;
    margin-top: 97px;
}

.container-box2{
    font-family: Helvetica, sans-serif;
    border: #1F1F1F 2px solid;
    width: 420px;
    background-color: white;
    box-shadow: 15px 15px #baa8e1;
}

.purple-text{
    color: #baa8e1;
    margin-left: 26px;
}

.edu-input{
    margin-left: 73px;
}

.school-headings{
    margin-left: 46px;
}

.container-box3{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 155px;
    width: 400px;
}

.like{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dislike{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-like, .list-dislike{
    margin-top: 36px;
}

.container-box4{
    padding-top: 75px;
    display: flex;
}

.software{
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

#pixel-character{
    height: 540px;
    margin-left: 100px;
}

.titles-purple { 
    border-bottom:  8px solid #BAA8E1;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding-bottom: 10px;
    width: fit-content;
}

.hobbies{
    display: flex;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    gap: 85px;
    margin-top: 50px;
}
.hobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: space-between;
}
.pixel-gifs{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.titles-orange{
    border-bottom:  8px solid #F44D00;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    width: max-content;
    padding: 10px;
    margin-top: 50px;
}

.portfolio-container{
    display: flex;
    flex-direction: row;
    gap: 430px;
}

.container-box5{
    display: flex;
    flex-direction: row;
    width: 498px;
    border-radius: 25px;
}
.Blender{
    max-width: 498px;
    height: 264px;
    border-radius: 25px;
}

.images{
    animation-name: image1;
    animation: duration 4s;
}
@keyframes image1{
    0%{
        opacity: 100%;
    }

    50%{
        opacity: 0%;
    }

    100%{
        opacity: 0%;
    }
}


/* FOOTER */
.footerline {
    margin-top: 170px;
    margin-bottom: 35px;
}
.footer {
    color: white;
    display: flex;
    justify-content: space-between;
}
.footerLeft p {
    margin: 0 0 20px;
}
.footerLeft span {
    color:#f44d00;
}
.footerLeft div {
    display: flex;
    gap: 20px;
}
.footerLeft img {
    height: 20px;
}
.footerRight {
    display: flex;
    gap: 60px;
}
.footerRight h1 {
    font-size: 24px;
    margin: 0 0 10px;
    width: auto;
    border: none;
}
.footerRight p {
    margin: 0;
    line-height: 22px;
}
.footerRight .email{
    color: #F44D00;
}
/* END OF FOOTER */
