html {
    scroll-behavior: smooth;
}
body{
    background-color: #1f1f1f;
    margin: 45px 0 100px;
    font-family: 'Roboto', sans-serif;
}
body > * {
    max-width: 1680px;
    margin: 0 80px;
}

/* NAVBAR */
#navbar {
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
}
.logo-main span {
    margin-right: 5px;
}
.logo-main a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
}
.nav-categories {
    display: flex;
    gap: 150px;
}
.nav-categories a {
    text-decoration: none;
    color: #FFFFFF;
}
#red {
    color: #F44D00;
}
.navbar-line {
    height: 1px;
    background-color: white;
}
/* END OF NAVBAR */

/* TOP SECTION */
.topSection {
    margin: 100px auto 80px;
    width: fit-content;
}
.topSection h1 {
    color: #FFFFFF;
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
    font-size: 96px;
    line-height: 80px;
    margin: 0;
}
.topSection span {
    color: #F44D00;
}
.secondLine,
.thirdLine div,
.topDesc {
    display: flex;
    align-items: center;
}
.circleGroup {
    position: relative;
    right: 20px;
}
.thirdLine img {
    margin: 0 30px;
}
.topDesc {
    justify-content: space-between;
    flex-wrap: wrap;
}
.topDesc p {
    font-weight: 300;
    font-size: 40px;
    color: #FFFFFF;
    width: 45%;
}
.topOrangeSection {
    background-color: #F44D00;
    padding: 100px 0;
    margin: 120px 0 0;
    max-width: none;
}
.topOrangeSection div {
    max-width: 1680px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.pixelProfile {
    position: relative;
}
.pixelProfile div {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: .7s opacity;
}
.pixelProfile div:hover {
    opacity: 1;
}
.pixelProfileGif {
    height: 200px;
    position: absolute;
    bottom: -18px;
    z-index: 1;
}
.pixelProfileShape {
    position: relative;
    top: -17px;
}
.daniellePixel {
    bottom: -20px;
}
/* END OF TOP SECTION */

/* RECENT WORKS */
.recentWorkContainer {
    padding: 120px 0;
    margin: 0;
    max-width: none;
    background-color: white;
}
.recentWorkContainer > div {
    max-width: 1680px;
    margin: 0 80px;
}
.recentWorkContainer h1 {
    font-weight: 300;
    font-size: 50px;
    text-align: right;
}
.recentWorkContainer span {
    color: #F44D00;
    font-weight: 700;
}
.recentTop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.recentBottom {
    display: flex;
    align-items: center;
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.recentTop > .pixelProfile,
.recentBottom > .pixelProfile {
    margin: 0 auto;
}
.bookCovers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.briPixelGif {
    bottom: 191px;
    left: 198px;
}
.briPixelShape {
    position: absolute;
    bottom: 3px;
}
.ivaPixelGif {
    bottom: 4px;
}
.ivaPixelShape {
    position: absolute;
    bottom: 42px;
}
/* END OF RECENT WORKS */

/* TEAM SECTION */
.teamSection {
    margin-top: 120px;
}
.subtitle h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}
.subtitle span {
    font-weight: 700;
}
#orange {
    color: #F44D00;
}
.aboveImages {
    display: flex;
    gap: 45px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.bellowImages {
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: flex-end;
}
.bellowImages > img {
    margin: 0 auto;
}
.aboveImages > div,
.bellowImages > div {
    position: relative;
}
.profileItem {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: .7s transform;
}
.profileItem:hover {
    opacity: 1;
    transform: scale(1.1);
}
.lanceItem {
    left: -29px;
}
.ivonaItem {
    left: -10px;
}
.danielleItem {
    top: -6px;
}
/* END OF TEAM SECTION */

/* FOOTER */
.footerline {
    margin-top: 170px;
    margin-bottom: 35px;
}
.footer {
    color: white;
    display: flex;
    justify-content: space-between;
}
.footerLeft p {
    margin: 0 0 20px;
}
.footerLeft span {
    color:#F44D00;
}
.footerLeft div {
    display: flex;
    gap: 20px;
}
.footerLeft img {
    height: 20px;
}
.footerRight {
    display: flex;
    gap: 60px;
}
.footerRight h1 {
    font-size: 24px;
    margin: 0 0 10px;
    width: auto;
    border: none;
}
.footerRight p {
    margin: 0;
    line-height: 22px;
}
.footerRight .email{
    color: #F44D00;
}
/* END OF FOOTER */


/* RESPONSIVENESS */
/* BIGGER SCREENS */
@media screen and (min-width: 1800px){
    body > *,
    .topOrangeSection > div,
    .recentWorkContainer > div {
        margin: 0 auto;
    }
}

/* SMALLER SCREENS */
@media screen and (max-width: 1200px){
    /* TOP SECTION */
    .topSection {
        width: auto;
        margin: 100px 30px 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topSection h1 {
        font-size: 60px;
        line-height: 45px;
    }
    .topDesc {
        justify-content: center;
    }
    .topDesc p {
        text-align: center;
        width: 100%;
    }
    .secondLine {
        justify-content: center;
        flex-wrap: wrap;
    }
    .thirdLine img {
        width: 28%;
    }
    .circleGroup {
        width: 22%;
    }
    /* TOP ORANGE */
    .topOrangeSection div {
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* TEAM SECTION */
    .subtitle h1 {
        text-align: center;
    }
    .aboveImages,
    .bellowImages {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bellowImages > img {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    /* NAVBAR */
    .nav-categories {
        gap: 50px;
    }
    /* RECENT WORKS */
    .recentWorkContainer h1 {
        text-align: center;
    }
    /* FOOTER */
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footerLeft div {
        justify-content: center;
    }
    .footerRight {
        margin-top: 40px;
    }
}

@media screen and (max-width: 800px){
    body > *,
    .topOrangeSection div,
    .recentWorkContainer > div  {
        margin: 0 30px;
    }
    /* TOP SECTION */
    .topSection h1 {
        text-align: center; 
    }
}

@media screen and (max-width: 700px) {
    /* NAVBAR */
    .nav-categories {
        gap: 20px;
    }
    /* TOP SECTION */
    .circleGroup {
        display: none;
    }
    /* RECENT WORKS */
    .briPixel {
        width: 100%;
    }
    /* FOOTER */
    .footerRight {
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 425px){
    /* NAVBAR */
    #navbar {
        flex-direction: column;
        gap: 20px;
    }
    /* TOP SECTION */
    .topSection h1 {
        font-size: 40px;
        line-height: 30px;
    }
    .thirdLine img {
        width: 15%;
    }
    .topDesc img {
        width: 90%;
    }
}