body{
    background-color: #1F1F1F;
    max-width: 1680px;
    margin: 45px 80px 0px;
    
}

@media screen and (min-width: 1960px){
    body {
        margin: 45px auto 0px;
    }
}

#navbar{
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
}

.team-name{
    padding-right: 5px;
    font-size: 20px;
}

.smellow{
    display: flex;
}
a{
    color: white;
    text-decoration: none;
}
.red{
    color: #F44D00;
}
.nav-categories{
    display: flex;
    gap: 150px;
}

.navbar-line{
    height: 1px;
    background-color: white;
}

@media screen and (max-width: 1023px){
    .nav-categories{
        gap: 50px;
    }
}

@media screen and (max-width: 700px){
    body{
        margin: 45px 20px 0px;

    }
}

