html {
    scroll-behavior: smooth;
}
body{
    background-color: #1f1f1f;
    max-width: 1680px;
    margin: 45px 0 100px;
    font-family: 'Roboto', sans-serif;
}

body>* {
    margin: 0 80px;
}

/* NAVBAR */
#navbar {
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
}

.logo-main span {
    margin-right: 5px;
}

.logo-main a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
}

.nav-categories {
    display: flex;
    gap: 150px;
}

.nav-categories a {
    text-decoration: none;
    color: #FFFFFF;
}

#red {
    color: #F44D00;
}

.navbar-line {
    height: 1px;
    background-color: white;
}

/* END OF NAVBAR */

/* TOP SECTION */
.topSection {
    margin: 100px auto 80px;
    width: fit-content;
}

.topSection h1 {
    color: #FFFFFF;
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
    font-size: 96px;
    line-height: 80px;
    margin: 0;
}

.topSection span {
    color: #F44D00;
}

.secondLine,
.thirdLine div,
.topDesc {
    display: flex;
}

.circleGroup {
    position: relative;
    right: 20px;
}

.thirdLine img {
    margin: 0 30px;
}

.topDesc {
    justify-content: space-between;
}

.topDesc p {
    font-weight: 300;
    font-size: 40px;
    color: #FFFFFF;
    width: 45%;
}

.topOrangeSection {
    background-color: #F44D00;
    padding: 100px 0;
    margin: 120px 0;
}

.topOrangeSection div {
    margin: 0 80px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.topOrangeSection img {
    height: 200px;
}

/* END OF TOP SECTION */

/* RECENT WORKS */
.WholeBody{
    display: flex;
    max-width: 1680px;
    flex-direction: column;
    height: 1300px;
    background-color: white;
    margin: 0;
}
.recent-works {
    display: flex;
    justify-content: space-between;
    gap: 160px;
    margin: 100px;
    margin-bottom: 0;
}


.description {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 710px;
}

.texts {
    display: flex;
    flex-direction: column;
}

.firstText {
    display: flex;
    font-size: 30px;
    justify-content: end;
    margin-bottom: -80px;
}

.secondText {
    display: flex;
    font-size: 30px;
    justify-content: end;
    color: #ff8c00;
}

.imagetwos {
    display: flex;
    flex-direction: row;
    gap: 65px;
}

.righttexts {
    display: flex;
    flex-direction: column;
    width: 720px;
}

.threeimage {
    display: flex;
    justify-content: center;
}

.circles {
    display: flex;
    gap: 65px;
    justify-content: center;
}

.lastdescription {
    display: flex;
    justify-content: space-between;
    gap: 160px;
    margin: 100px;
    margin-top: 50px;
}

.fourimages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.first{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.BookCovers{
    display: flex;
    flex-direction: row;
    gap: 65px;
}

.lastTwo {
    display: flex;
    flex-direction: row;
}
/* END OF RECENT WORKS */

/* TEAM SECTION */
.teamSection {
    font-family: 'Roboto', sans-serif;
}
.subtitle h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}
.subtitle span {
    font-weight: 700;
}
#orange {
    color: #F44D00;
}
.aboveImages {
    display: flex;
    gap: 65px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.bellowImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* END OF TEAM SECTION */

/* FOOTER */
.footerline {
    margin-top: 170px;
    margin-bottom: 35px;
}
.footer {
    color: white;
    display: flex;
    justify-content: space-between;
}
.footerLeft p {
    margin: 0 0 20px;
}
.footerLeft span {
    color:#f44d00;
}
.footerLeft div {
    display: flex;
    gap: 20px;
}
.footerLeft img {
    height: 20px;
}
.footerRight {
    display: flex;
    gap: 60px;
}
.footerRight h1 {
    font-size: 24px;
    margin: 0 0 10px;
    width: auto;
    border: none;
}
.footerRight p {
    margin: 0;
    line-height: 22px;
}
.footerRight .email{
    color: #F44D00;
}
/* END OF FOOTER */


/* RESPONSIVENESS */
/* BIGGER SCREENS */
@media screen and (min-width: 1760px){
    body {
        margin: 45px auto 180px;
    }
}

/* SMALLER SCREENS */
@media screen and (max-width: 1023px) {
    /* NAVBAR */
    .nav-categories {
        gap: 50px;
    }
    /* END OF NAVBAR */
    
    /* FOOTER */
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footerLeft div {
        justify-content: center;
    }
    .footerRight {
        margin-top: 40px;
    }
    /* END OF FOOTER */
}

@media screen and (max-width: 700px) {
    body {
        margin: 45px 20px 0px; 
    }
    /* NAVBAR */
    .nav-categories {
        gap: 20px;
    }
    /* END OF NAVBAR */
    
    /* FOOTER */
    .footerRight {
        flex-direction: column;
        gap: 40px;
    }
    /* END OF FOOTER */
}

@media screen and (max-width: 425px){
    /* NAVBAR */
    #navbar {
        flex-direction: column;
        gap: 20px;
    }
    /* END OF NAVBAR */
}